body {
    background-image: url("assets/bg.png");
    background-repeat: repeat;

    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 17px;
    line-height: 1.6;
    padding: 10px;
}

main {
    max-width: 800px;
    background-color: #fff;

    margin: auto;
    padding: 20px;

    border: 2px solid black;
    box-shadow: 2px 2px 0 #333;
    border-radius: 5px;
}

main > * {
    margin-bottom: 10px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.standout-button {
    display: block;
    margin-left: 30px;
    margin-right: 30px;

    background-color: #f4d794;
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;

    padding: 30px;
    border: 1px solid #000;
    border-radius: 5px;

    cursor: pointer;
}

.standout-button:hover {
    background-color: #F8E1AC;
}

.extra {
    color: #888888;
}

header {
    text-align: center;
}

header .subtitle {
    margin-bottom: -3px;
    font-style: italic;
    font-size: 0.8em;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    border-top: 1px dotted black;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

.warning {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 30px;
    margin-right: 30px;
}

strong,
b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.citation {
    margin-left: 30px;
    margin-right: 30px;
}

ol li {
    list-style-type: decimal;
    margin-left: 50px;
    margin-bottom: 10px;
}
